[alias]
    co = checkout
    ci = commit
    amci = "commit --amend"
    b = branch
    st = status
    cp = cherry-pick
    wdiff = "diff --word-diff"
    diffc = "diff --cached"
    logp = "log -p"
    oneline = "log --pretty='format:%C(yellow bold)%h %C(green bold)%as %Creset%C(white)%s'"

[color "status"]
    branch = "green bold"
    added = green
    changed = cyan
    deleted = red
    untracked = magenta

[color "diff"]
    meta = "blue bold"

[color "branch"]
    current = "green bold"

[color]
    branch = true
    ui = true

[core]
    editor = mcedit
    pager = less -X

[init]
	defaultBranch = master
